main{
    background-image: url(../../../images/fondo-pag-speciali.jpg);
    background-position: center;
    padding-top: 20px;



.l_product, .md_product, .s_product{
    width: calc(( 100% / 3 ) - 20px );
    margin: 10px;
    img{
        width: 100%;
    }

    
}
h3{
    padding-left: 10px;
    color: $primary_color;
    
}
.prod{
width: 100%;
    img{
        width: 100%;
    }
}

}